
<router-outlet *ngIf="!authService.isAuthenticated()"></router-outlet>

<clr-main-container *ngIf="authService.isAuthenticated()">
    <clr-header>
        <div class="branding">
            <a class="logo-and-title" routerlink="/dashboard" href="/dashboard">
                <span class="clr-icon clarity-logo"></span>
                <span class="title">HyperPaaS</span>
            </a>
        </div>

        <div class="header-actions">
            <a class="nav-link nav-text" href="#" (click)="onLogout($event)">Log Out</a>
        </div>
    </clr-header>

    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>

        <clr-vertical-nav [clrVerticalNavCollapsible]="collapsible" [(clrVerticalNavCollapsed)]="collapsed">
            <a clrVerticalNavLink routerLink="/dashboard" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="dashboard"></clr-icon>
                Dashboard
            </a>
            <a clrVerticalNavLink routerLink="/network" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="organization"></clr-icon>
                Network
            </a>
            <a clrVerticalNavLink routerLink="/service" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="rack-server"></clr-icon>
                Service
            </a>
            <a clrVerticalNavLink routerLink="/cluster" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="cluster"></clr-icon>
                Cluster
            </a>
            <a clrVerticalNavLink routerLink="/image" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="layers"></clr-icon>
                Image
            </a>
            <a clrVerticalNavLink routerLink="/registry" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="storage"></clr-icon>
                Registry
            </a>
            <a clrVerticalNavLink routerLink="/stack" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="applications"></clr-icon>
                Stack
            </a>
        </clr-vertical-nav>
    </div>
</clr-main-container>
