.DS_Store
vendor/
*.out
config.yml
var/
hyperpaas
hyperpaas-installer
hyperpaas-server
hyperpaas-starter
_v1/
node_modules
cmd/hyperpaas-manager/node_modules
!cmd/hyperpaas-installer
!cmd/hyperpaas-server
!cmd/hyperpaas-starter
dev/
.coverage/
