<section class="section-info">
    <div class="row">
        <div class="col-sm-2">
            <h4>Deployment method</h4>
        </div>
        <div class="col-sm-9 offset-sm-1">

            <div class="row">
                <div class="col-xs-3">
                    <a href="#" class="card clickable">
                        <div class="card-block">
                            <div class="card-media-block">
                                <img src="https://unpkg.com/simple-icons@1.2.19/icons/github.svg" class="card-media-image" alt="" />
                                <div class="card-media-description">
                                    <span class="card-media-title">
                                        Github
                                    </span>
                                    <span class="card-media-text">
                                        Push
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#" class="card clickable">
                        <div class="card-block">
                            <div class="card-media-block">
                                <!-- img src="https://bitbucket-marketing-cdn.atlassian.com/dam/jcr:6bb63fa2-de51-41f3-aaa5-3e324ee9c74b/Bitbucket-icon-blue.svg?cdnVersion=jh" class="card-media-image" /-->
                                <img  src="https://unpkg.com/simple-icons@1.2.19/icons/bitbucket.svg" class="card-media-image" alt="" />
                                <div class="card-media-description">
                                    <span class="card-media-title">
                                        Bitbucket
                                    </span>
                                    <span class="card-media-text">
                                        Push
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#" class="card clickable">
                        <div class="card-block">
                            <div class="card-media-block">
                                <img src="https://unpkg.com/simple-icons@1.2.19/icons/docker.svg" class="card-media-image" alt="" />
                                <div class="card-media-description">
                                    <span class="card-media-title">
                                        Docker
                                    </span>
                                    <span class="card-media-text">
                                        Image
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#" class="card clickable">
                        <div class="card-block">
                            <div class="card-media-block">
                                <img src="https://unpkg.com/simple-icons@1.2.19/icons/git.svg" class="card-media-image" alt="" />
                                <div class="card-media-description">
                                    <span class="card-media-title">
                                        Git
                                    </span>
                                    <span class="card-media-text">
                                        Push
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
