<h2>Service {{ service | serviceName }}</h2>

<ul class="nav" role="tablist">
    <li role="presentation" class="nav-item">
        <button class="btn btn-link nav-link" type="button" [routerLink]="['overview']" routerLinkActive="active">Overview</button>
    </li>
    <li role="presentation" class="nav-item">
        <button class="btn btn-link nav-link" type="button" [routerLink]="['resources']" routerLinkActive="active">Resources</button>
    </li>
    <li role="presentation" class="nav-item">
        <button class="btn btn-link nav-link" type="button" [routerLink]="['deploy']" routerLinkActive="active">Deploy</button>
    </li>
    <li role="presentation" class="nav-item">
        <button class="btn btn-link nav-link" type="button" [routerLink]="['metrics']" routerLinkActive="active">Metrics</button>
    </li>
    <li role="presentation" class="nav-item">
        <button class="btn btn-link nav-link" type="button" [routerLink]="['activity']" routerLinkActive="active">Activity</button>
    </li>
    <li role="presentation" class="nav-item">
        <button class="btn btn-link nav-link" type="button" [routerLink]="['settings']" routerLinkActive="active">Settings</button>
    </li>
</ul>
<section role="tabpanel">
    <router-outlet></router-outlet>
</section>

