<clr-main-container>
    <!-- TODO use observer for populate alert -->
    <clr-alerts>
        <clr-alert [clrAlertType]="'info'" [clrAlertAppLevel]="true">
            <div class="alert-item">
                <span class="alert-text">
                    This is the first app level alert.
                </span>
                <div class="alert-actions">
                    <button class="btn alert-action">Fix</button>
                </div>
            </div>
        </clr-alert>
        <clr-alert [clrAlertType]="'danger'" [clrAlertAppLevel]="true">
            <div class="alert-item">
                <span class="alert-text">
                    This is a second app level alert.
                </span>
                <div class="alert-actions">
                    <button class="btn alert-action">Fix</button>
                </div>
            </div>
        </clr-alert>
    </clr-alerts>

    <clr-header>
        <div class="branding">
            <a class="nav-link" routerLink="/">
                <span class="title">HyperPaaS</span>
            </a>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger>
                    <clr-icon shape="user"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a href="#" (click)="onLogout($event)" clrDropdownItem>Log out</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </clr-header>

    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>

        <clr-vertical-nav [clrVerticalNavCollapsible]="collapsible" [(clrVerticalNavCollapsed)]="collapsed">
            <a clrVerticalNavLink routerLink="/dashboard" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="dashboard"></clr-icon>
                Dashboard
            </a>
            <a clrVerticalNavLink routerLink="/stack" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="organization"></clr-icon>
                Stack
            </a>
            <a clrVerticalNavLink routerLink="/service" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="organization"></clr-icon>
                Service
            </a>
            <a clrVerticalNavLink routerLink="/cluster" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="rack-server"></clr-icon>
                Cluster
            </a>
        </clr-vertical-nav>
    </div>
</clr-main-container>
