
.dialog-component {
    height: auto;
    left: 0;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 400;
}

.overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
}

.dialog {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 auto 40px;
    position: relative;
}

form {
    background-color: #fff;
    border-radius: 3px;
    position: relative;
}

.header {
    background-color: #f6f7f9;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 3px 3px 0 0;
    color: #1d2129;
    font-weight: bold;
    line-height: 19px;
    padding: 10px 12px;
}

.content {
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
    background-color: #fff;
}

.footer {
    text-align: right;
    border-top: 1px solid #dddfe2;
    margin: 0 12px;
    background-color: #fff;
    padding: 12px 0;
}

.close {
    float: right;
}

.close button {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.close button:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

h3 {
    color: #1d2129;
    font-size: 14px;
}
