<ng-container *ngIf="service">
    <h3>Service details</h3>
    <table class="table table-vertical">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ service.Spec.Name }}</td>
            </tr>
            <tr>
                <th>ID</th>
                <td>{{ service.ID }}</td>
            </tr>
            <tr>
                <th>Created at</th>
                <td>{{ service.CreatedAt | date }}</td>
            </tr>
            <tr>
                <th>Last updated at</th>
                <td>{{ service.UpdatedAt | date }}</td>
            </tr>
            <tr>
                <th>Version</th>
                <td>{{ service.Version.Index }}</td>
            </tr>
            <tr>
                <th>Scheduling mode</th>
                <td></td>
            </tr>
            <tr>
                <th>Replicas</th>
                <td></td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ service.Spec.TaskTemplate.ContainerSpec.Image }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Container spec</h3>
    <table class="table table-vertical">
        <tbody>
            <tr>
                <th>CMD</th>
                <td></td>
            </tr>
            <tr>
                <th>Args</th>
                <td></td>
            </tr>
            <tr>
                <th>User</th>
                <td></td>
            </tr>
            <tr>
                <th>Working directory</th>
                <td></td>
            </tr>
            <tr>
                <th>Stop grace period</th>
                <td></td>
            </tr>
        </tbody>
    </table>

    <h3>Environment variables</h3>
    <clr-datagrid>
        <clr-dg-column>Name</clr-dg-column>
        <clr-dg-column>Value</clr-dg-column>

        <clr-dg-placeholder>There are no container environment variables for this service.</clr-dg-placeholder>

        <clr-dg-row *ngFor="let env of envs">
            <clr-dg-cell>{{ env.name }}</clr-dg-cell>
            <clr-dg-cell>{{ env.value }}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>{{ envs.length }} environment variables</clr-dg-footer>
    </clr-datagrid>

    <h3>Container labels</h3>
    <clr-datagrid>
        <clr-dg-column>Name</clr-dg-column>
        <clr-dg-column>Value</clr-dg-column>

        <clr-dg-placeholder>There are no container labels for this service.</clr-dg-placeholder>

        <clr-dg-row *ngFor="let label of containerLabels">
            <clr-dg-cell>{{ label.name }}</clr-dg-cell>
            <clr-dg-cell>{{ label.value }}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>{{ containerLabels.length }} labels</clr-dg-footer>
    </clr-datagrid>

    <h3>Mounts</h3>
    <clr-datagrid>
        <clr-dg-column>Type</clr-dg-column>
        <clr-dg-column>Source</clr-dg-column>
        <clr-dg-column>Target</clr-dg-column>
        <clr-dg-column>Read only</clr-dg-column>
        <clr-dg-column>Actions</clr-dg-column>

        <clr-dg-placeholder>There are no container mounts for this service.</clr-dg-placeholder>

        <clr-dg-row *ngFor="let mount of service.Spec?.TaskTemplate?.ContainerSpec?.Mounts">
            <clr-dg-cell>{{ mount.Type }}</clr-dg-cell>
            <clr-dg-cell>{{ mount.Source }}</clr-dg-cell>
            <clr-dg-cell>{{ mount.Target }}</clr-dg-cell>
            <clr-dg-cell>
                <div class="checkbox">
                    <input type="checkbox" checked />
                </div>
            </clr-dg-cell>
            <clr-dg-cell>
                <a href="#"><clr-icon shape="times"></clr-icon></a>
            </clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>{{ service.Spec?.TaskTemplate?.ContainerSpec?.Mounts?.length || 0 }} mounts</clr-dg-footer>
    </clr-datagrid>

    <h3>Networks</h3>
    <table class="table">
        <thead>
            <tr>
                <th class="left">ID</th>
                <th class="left">IP address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let virtualIP of service.Endpoint.VirtualIPs">
                <td class="left"><a [routerLink]="['/network/', virtualIP.NetworkID]">{{ virtualIP.NetworkID }}</a></td>
                <td class="left">{{ virtualIP.Addr }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Published ports</h3>
    <clr-datagrid>
        <clr-dg-column>Host port</clr-dg-column>
        <clr-dg-column>Container port</clr-dg-column>
        <clr-dg-column>Protocol</clr-dg-column>
        <clr-dg-column>Publish mode</clr-dg-column>
        <clr-dg-column>Actions</clr-dg-column>

        <clr-dg-placeholder>There are no container ports for this service.</clr-dg-placeholder>

        <clr-dg-row *ngFor="let port of service.Endpoint.Ports">
            <clr-dg-cell>{{ port.PublishedPort }}</clr-dg-cell>
            <clr-dg-cell>{{ port.TargetPort }}</clr-dg-cell>
            <clr-dg-cell>{{ port.Protocol }}</clr-dg-cell>
            <clr-dg-cell>{{ port.PublishMode }}</clr-dg-cell>
            <clr-dg-cell>
                <a href="#"><clr-icon shape="times"></clr-icon></a>
            </clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>{{ service.Endpoint.Ports?.length || 0 }} ports</clr-dg-footer>
    </clr-datagrid>

    <h3>Resource limits and reservations</h3>
    <table class="table table-vertical">
        <tbody>
            <tr>
                <th>CPU limits</th>
                <td>
                    <ng-container *ngIf="service.Spec.TaskTemplate.Resources?.Limits?.NanoCPUs">{{ service.Spec.TaskTemplate.Resources?.Limits?.NanoCPUs / 1000000000 }}</ng-container>
                    <ng-container *ngIf="!service.Spec.TaskTemplate.Resources?.Limits?.NanoCPUs">None</ng-container>
                </td>
            </tr>
            <tr>
                <th>Memory limits</th>
                <td>
                    <ng-container *ngIf="service.Spec.TaskTemplate.Resources?.Limits?.MemoryBytes">{{ service.Spec.TaskTemplate.Resources?.Limits?.MemoryBytes | size }}</ng-container>
                    <ng-container *ngIf="!service.Spec.TaskTemplate.Resources?.Limits?.MemoryBytes">None</ng-container>
                </td>
            </tr>
            <tr>
                <th>CPU reservation</th>
                <td>
                    <ng-container *ngIf="service.Spec.TaskTemplate.Resources?.Reservations?.NanoCPUs">{{ service.Spec.TaskTemplate.Resources?.Limits?.NanoCPUs / 1000000000 }}</ng-container>
                    <ng-container *ngIf="!service.Spec.TaskTemplate.Resources?.Reservations?.NanoCPUs">None</ng-container>
                </td>
            </tr>
            <tr>
                <th>Memory reservation</th>
                <td>
                    <ng-container *ngIf="service.Spec.TaskTemplate.Resources?.Reservations?.MemoryBytes">{{ service.Spec.TaskTemplate.Resources?.Reservations?.MemoryBytes | size }}</ng-container>
                    <ng-container *ngIf="!service.Spec.TaskTemplate.Resources?.Reservations?.MemoryBytes">None</ng-container>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Placement constraints</h3>
    <clr-datagrid>
        <clr-dg-column>Name</clr-dg-column>
        <clr-dg-column>Operator</clr-dg-column>
        <clr-dg-column>Value</clr-dg-column>
        <clr-dg-column>Actions</clr-dg-column>

        <clr-dg-placeholder>There are no container placement constraints for this service.</clr-dg-placeholder>

        <clr-dg-row *ngFor="let constraint of constraints">
            <clr-dg-cell>{{ constraint.name }}</clr-dg-cell>
            <clr-dg-cell>
                <div class="select">
                    <select name="operator">
                        <option [ngValue]="constraint" [selected]="constraint.operator == '=='" value="==">==</option>
                        <option [ngValue]="constraint" [selected]="constraint.operator == '!='" value="!=">!=</option>
                    </select>
                </div>
            </clr-dg-cell>
            <clr-dg-cell>{{ constraint.value }}</clr-dg-cell>
            <clr-dg-cell>
                <a href="#"><clr-icon shape="times"></clr-icon></a>
            </clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>{{ constraints.length || 0 }} constraints</clr-dg-footer>
    </clr-datagrid>

    <h3>Restart policy</h3>

    <h3>Update configuration</h3>

    <h3>Service labels</h3>
    <clr-datagrid>
        <clr-dg-column>Name</clr-dg-column>
        <clr-dg-column>Value</clr-dg-column>

        <clr-dg-placeholder>There are no container labels for this service.</clr-dg-placeholder>

        <clr-dg-row *ngFor="let label of serviceLabels">
            <clr-dg-cell>{{ label.name }}</clr-dg-cell>
            <clr-dg-cell>{{ label.value }}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>{{ serviceLabels.length }} labels</clr-dg-footer>
    </clr-datagrid>

    <h3>Secrets</h3>

    <h3>Associated tasks</h3>
    <table class="table">
        <thead>
            <tr>
                <th class="left">ID</th>
                <th class="left">Status</th>
                <th class="left">Slot</th>
                <th class="left">Node</th>
                <th class="left">Last update</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks">
                <td class="left">{{ task.ID }}</td>
                <td class="left" [ngSwitch]="task.Status.State">
                    <span class="label label-success" *ngSwitchCase="'running'">{{ task.Status.State }}</span>
                    <span class="label label-warning" *ngSwitchCase="'pending'">{{ task.Status.State }}</span>
                    <span class="label label-danger" *ngSwitchDefault>{{ task.Status.State }}</span>
                </td>
                <td class="left">{{ task.Slot }}</td>
                <td class="left">{{ nodes[task?.NodeID]?.Description?.Hostname }}</td>
                <td class="left">{{ task.UpdatedAt | date }}</td>
            </tr>
        </tbody>
    </table>
</ng-container>
