
<button class="btn btn-sm btn-outline" (click)="onOpenCreateWizard()">Add service</button>

<table class="table">
    <thead>
        <tr>
            <th class="left">Name</th>
            <th class="left">Replicas</th>
            <th class="left">Image</th>
            <th class="left">Published Ports</th>
            <th class="left">Updated at</th>
            <th class="left"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let service of services">
            <td class="left"><a [routerLink]="['/service', service.ID, 'task']">{{ service.Spec.Name }}</a></td>
            <td class="left">{{ service.Spec.Mode.Replicated.Replicas }}/{{ service.Spec.Mode.Replicated.Replicas }}</td>
            <td class="left">{{ service.Spec.TaskTemplate.ContainerSpec.Image | image:'short' }}</td>
            <td class="left">
                <ng-container *ngIf="service.Endpoint?.Ports && service.Endpoint.Ports.length > 0">
                    <a *ngFor="let port of service.Endpoint.Ports" href="">{{ port.PublishedPort }}:{{ port.TargetPort }}</a>
                </ng-container>
            </td>
            <td class="left">{{ service.UpdatedAt | date }}</td>
            <td class="left"><a [routerLink]="['/service', service.Spec.Name, 'log']">Log</a></td>
        </tr>
    </tbody>
</table>

<clr-wizard #createWizard [(clrWizardOpen)]="_openCreateWizard" clrWizardSize="lg">
    <clr-wizard-title>Add Service</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

    <clr-wizard-page>
        <ng-template clrPageTitle>Basic Information</ng-template>
        <form #serviceForm="ngForm" (ngSubmit)="onCreateSubmit()" [hidden]="submitted">
            <section class="form-block">
                <div class="form-group">
                    <label for="serviceName">Service Name</label>
                    <label for="serviceName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="serviceNameInput.invalid && (serviceNameInput.dirty || serviceNameInput.touched)">
                        <input type="text" id="serviceName" placeholder="Enter service name"
                            required
                            name="serviceName"
                            [(ngModel)]="service.Name"
                            #serviceNameInput="ngModel" />
                        <span class="tooltip-content">
                            Service Name is Required.
                        </span>
                    </label>
                </div>
            </section>

        </form>
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>Page 2</ng-template>
        ...
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>Page 3</ng-template>
        ...
    </clr-wizard-page>
</clr-wizard>
