<h3>Cluster status</h3>

<table class="table table-vertical">
    <tbody>
        <tr>
            <th>Nodes</th>
            <td>{{ cluster.nodes }}</td>
        </tr>
        <tr>
            <th>Docker API version</th>
            <td>{{ cluster.version }}</td>
        </tr>
        <tr>
            <th>Total CPU</th>
            <td>{{ cluster.cpu / 1000000000 }}</td>
        </tr>
        <tr>
            <th>Total memory</th>
            <td>{{ cluster.memory | size }}</td>
        </tr>
    </tbody>
</table>

<h3>Node status</h3>

<clr-datagrid>
    <clr-dg-column>Hostname</clr-dg-column>
    <clr-dg-column>Role</clr-dg-column>
    <clr-dg-column>CPU</clr-dg-column>
    <clr-dg-column>Memory</clr-dg-column>
    <clr-dg-column>Engine</clr-dg-column>
    <clr-dg-column>IP Address</clr-dg-column>
    <clr-dg-column>Availability</clr-dg-column>
    <clr-dg-column>Status</clr-dg-column>

    <clr-dg-row *ngFor="let node of nodes">
        <clr-dg-cell><a [routerLink]="['/cluster/node', node.ID]">{{ node.Description.Hostname }}</a></clr-dg-cell>
        <clr-dg-cell>{{ node.Spec.Role }}</clr-dg-cell>
        <clr-dg-cell>{{ node.Description.Resources.NanoCPUs / 1000000000 }}</clr-dg-cell>
        <clr-dg-cell>{{ node.Description.Resources.MemoryBytes | size }}</clr-dg-cell>
        <clr-dg-cell>{{ node.Description.Engine.EngineVersion }}</clr-dg-cell>
        <clr-dg-cell>{{ node.Status.Addr }}</clr-dg-cell>
        <clr-dg-cell>{{ node.Spec.Availability }}</clr-dg-cell>
        <clr-dg-cell>
            <span class="label label-success" *ngIf="node.Status.State == 'ready'">{{ node.Status.State }}</span>
            <span class="label label-danger" *ngIf="node.Status.State != 'ready'">{{ node.Status.State }}</span>
        </clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
        {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ pagination.totalItems }} nodes
        <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>

