<div class="panel">
    <div class="header">
        <div class="clearfix">
            <span>
                <ng-content select="panel-title"></ng-content>
            </span>
            <div class="action">
                <ng-content select="panel-action"></ng-content>
            </div>
        </div>
    </div>
    <div [ngClass]="{'content': true, 'no-padding': noPadding }">
        <ng-content select="panel-content"></ng-content>
    </div>
    <div class="footer">
        <ng-content select="panel-footer"></ng-content>
    </div>
</div>
