
.panel {
    margin-bottom: 16px;
    background-color: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
}

.panel > .header {
    border-top: 1px solid #e5e5e5;
    background: linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background: #f6f7f9;
    height: 47px;
    padding: 0 12px;
}

.panel > .header span {
    line-height: 47px;
    float: left;
    color: #4b4f56;
    font-weight: bold;
    font-size: 14px;
}

.panel > .header .action {
    padding: 12px 0 11px;
    float: right;
}

.panel > .header {
    border-top: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel > .content {
    padding: 24px;
    border-top: 1px solid #e5e5e5;
}

.panel > .no-padding {
    padding: 0px;
}

.panel > .footer {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 24px;
    border-top: 1px solid #e5e5e5;
}
