
<section class="section-info">
    <div class="clr-row">
        <div class="clr-col-sm-4">
            <h4>
                Autoscale
            </h4>
        </div>
        <div class="clr-col-sm-7 clr-offset-sm-1">
            <form #autoscaleForm="ngForm" (ngSubmit)="onScaleSubmit()">
                <fieldset class="form-block">
                    <div class="form-group">
                        <label for="autoscaleEnable">Autoscale enable</label>
                        <div class="toggle-switch">
                            <input type="checkbox" id="autoscaleEnable" name="autoscaleEnable" [(ngModel)]="autoscale.enable" />
                            <label for="autoscaleEnable"></label>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="autoscale.enable">
                        <label for="autoscaleMin" class="required">Minimum Task</label>
                        <label for="autoscaleMin" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="autoscaleMinInput.invalid && (autoscaleMinInput.dirty || autoscaleMinInput.touched)">
                            <input type="number" id="autoscaleMin" placeholder="1"
                                required
                                min="1"
                                name="autoscaleMin"
                                [(ngModel)]="autoscale.min"
                                #autoscaleMinInput="ngModel" />
                            <span class="tooltip-content">
                                <ng-container *ngIf="autoscaleMinInput.errors?.min">This value is too short (minimum is 1 task).</ng-container>
                                <ng-container *ngIf="autoscaleMinInput.errors?.required">Autoscale Minimum is Required.</ng-container>
                            </span>
                        </label>
                    </div>

                    <div class="form-group" *ngIf="autoscale.enable">
                        <label for="autoscaleMax" class="required">Maxmimun Task</label>
                        <label for="autoscaleMax" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="autoscaleMaxInput.invalid && (autoscaleMaxInput.dirty || autoscaleMaxInput.touched)">
                            <input type="number" id="autoscaleMax" placeholder="5"
                                required
                                min="1"
                                name="autoscaleMax"
                                [(ngModel)]="autoscale.max"
                                #autoscaleMaxInput="ngModel" />
                            <span class="tooltip-content">
                                <ng-container *ngIf="autoscaleMaxInput.errors?.min">This value is too short (minimum is 1 task).</ng-container>
                                <ng-container *ngIf="autoscaleMaxInput.errors?.required">Autoscale Maximum is Required.</ng-container>
                            </span>
                        </label>
                    </div>

                </fieldset>

                <button type="submit" class="btn btn-primary" [disabled]="!autoscaleForm.form.valid || !autoscaleForm.form.dirty">Save</button>
            </form>

        </div>
    </div>
</section>

<table class="table">
    <thead>
        <tr>
            <th class="left">Name</th>
            <th class="left">Image</th>
            <th class="left">Node</th>
            <th class="left">Desired State</th>
            <th class="left">Current State</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td class="left">{{ service.Spec.Name }}.{{ task.Slot }}</td>
            <td class="left">{{ task.Spec.ContainerSpec.Image | image:'short' }}</td>
            <td class="left">{{ nodes[task.NodeID].Description.Hostname }}</td>
            <td class="left">
                <app-docker-state [state]="task.DesiredState" [type]="'task'"></app-docker-state>
            </td>
            <td class="left">
                <app-docker-state [state]="task.Status.State" [type]="'task'"></app-docker-state>
            </td>
        </tr>
    </tbody>
</table>
