<ng-container *ngIf="stats$ | async as stats">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header"><clr-icon shape="cpu" size="18"></clr-icon> CPU</div>
                <div class="card-block">
                    <div class="stats-value">{{ stats.cpu.percent | number:'1.2-2' }}%</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header"><clr-icon shape="memory" size="18"></clr-icon> Memory</div>
                <div class="card-block">
                    <div class="stats-value">{{ stats.memory.percent | number:'1.2-2' }}%</div>
                    <div class="stats-sub-value">{{ stats.memory.usage | size }} of {{ stats.memory.limit | size }}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header"><clr-icon shape="network-globe" size="18"></clr-icon> Network</div>
                <div class="card-block">
                    <div class="stats-value-transmit"><clr-icon shape="arrow" size="18"></clr-icon> {{ stats.network.rx | size }}</div>
                    <div class="stats-value-teceive"><clr-icon shape="arrow" dir="down" size="18"></clr-icon> {{ stats.network.tx | size }}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header"><clr-icon shape="rack-server" size="18"></clr-icon> Tasks</div>
                <div class="card-block">
                    <div class="stats-value">{{ stats.task | number }}</div>
                </div>
            </div>
        </div>

    </div>

</ng-container>

